body{
    margin: 0 auto;
    padding: 0;
    font-family:'Montserrat', sans-serif;
}
.button{
    text-decoration: none;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.50);
    background: var(--gradient, linear-gradient(69deg, #FBA24F 0%, #FF1E1E 100%));
    border-radius: 100px;
    padding: 25px 30px;
    color: #FFFFFF;
    margin-top: 100px;
}
h1, p{
    color: #575757;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
/* sec1 start */
/* .sec1{
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .sec1{
    margin-bottom: 5%;
} */
.sec1 samp{    
        color: #FBA24F;
        font-size:60px ;
        font-family:'Montserrat', sans-serif;
}
.hader{
    width: 30%;
}
.hader h1{
    font-size: 50px;
}
.hader p{
    margin-bottom: 80px;
}
.sec1 img{
    width: 35%;
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
/* sec1 end */
/* sec2 start */
.sec2{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 5%; */
}
.sec2 img {
   width: 15%;
   padding: 40px 450px 0px 0px;
}
.a-content{
    width: 30%;
}
.a-content p{
   font-size: 20px;
   margin-bottom: 80px;
}
/* sec2 end */
/* sec3 start */
.sec3{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    /* margin-bottom: 5%; */
}
.sec3 p{
    width: 45%;
    text-align: center;
}
/* sec3 end */
/* sec4 start */
.sec4{
    gap: 70px;
    /* margin-bottom: 5%; */
}
.r-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
   gap: 70px;
}
.card{
    width: 35%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
}
.card img{
    width: 100%;
    border-radius: 30px;
}
/* sec4 end */
/* sec5 start */
.sec5{
    /* margin-bottom: 5%; */
}
.count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    width: 80%;
}
/* sec5 end */
/* f-content start */
.f-content{
    /* display: flex;
    align-items: center; */
    margin: 0;
    flex-direction: column;
    background-color:  #0B0D17;
}
.f-content samp{
    color: #FBA24F;
    font-family:'Montserrat', sans-serif;
}
.f-content p{
    color: #FFFFFF;
}
/* f-content end */